<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123431327043-v7qk0mo4uikue59l59jglpk5n02q4eod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123431327043-v7qk0mo4uikue59l59jglpk5n02q4eod</string>
	<key>API_KEY</key>
	<string>AIzaSyBzqP1cH3SxTAQCC8rqdpH3cHNM6qHpyqE</string>
	<key>GCM_SENDER_ID</key>
	<string>123431327043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecopocketCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>ecopocket-ce20f</string>
	<key>STORAGE_BUCKET</key>
	<string>ecopocket-ce20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123431327043:ios:da10991e1b2d117841cbf6</string>
</dict>
</plist>